html {
  display: flex;
  flex-direction: column;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgba(0, 0, 0, .45);
  border-radius: 50px;
  width: 375px;
}

div.car-boy {
  text-align: center;
  color: black;
  width: 300px;
  height: 300px;
  background-image: url(./data/postit\ note.png);
  background-size: 500px 400px;
  background-position: center;
}

div.car-boy-content {
  padding-top: 75px;
  padding-right: 30px;
}

div.card {
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, .0);
  border: none;
}

div.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

body {
  background-image: url(./data/woodboards.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
