{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/index.css">
<div class="jumbotron">
    <h1>Collected Wolves</h1>
</div>
<div class="container">
    {% for wolf in wolves.items %}
    <div class="card">
        <div class="car-boy">
            <div class="car-boy-content">
                <div id="background">
                    <h2>
                        {{wolf.name}} <br />
                    </h2>
                    <h5>
                        Created By: {{wolf.author.username}}
                    </h5>
                    <p>Published on: {{wolf.date.strftime('%Y - %m - %d')}}</p>
                    <a class="btn btn-primary" href="{{url_for('wolves.wolf', wolf_id=wolf.id)}}">Inspect Wolf</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<nav aria-label="Page Navigation example">
    <ul class="pagination justify-content-center">
        {% for page_num in wolves.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if wolves.page == page_num %}
        <li class="page-item disabled">
            <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endblock %}